[Desktop Entry]
Name=yunpan
Exec=aliyunpan %U
Terminal=false
Type=Application
Icon=/home/wzl/.config/icons/yunpan.png
StartupWMClass=yunpan
Categories=Network;
Comment=yunpan
